.board-container {
  background-color: nth($primary-color, 3);
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  box-shadow: $default-shadow;
}
.generate-button {
  width: 80px;
  background-color: $gray-500;
  color: $white;
  border-radius: 12px;
}
.search-box {
  display: flex;
  gap: 8px;
  margin-top: 14px;
  margin-bottom: 10px;
  input {
    width: 100%;
    padding: 8px;
  }
  button {
    width: 60px;
    font-size: 14px;
    background-color: nth($primary-color, 2);
    color: $white;
  }
}

.delete-button {
  background-color: nth($point-color, 2);
  color: $white;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  // padding: 6px;
  box-shadow: $default-shadow;
}
