.pagenation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: sticky;
  background-color: $white;
  border-radius: 16px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 6px;
  box-shadow: $default-shadow;

  .arrow {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    & img {
      width: 24px;
      height: 24px;
      transition: opacity 0.3s ease;
    }

    &.disabled {
      & img {
        opacity: 0.4; // 흐리게 처리
      }
    }
  }
  .num {
    display: flex;
    gap: 6px;
    .page-number {
      font-size: 14px;
      background-color: $white;
      padding: 5px 10px;
      cursor: pointer;
      transition: background-color 0.3s;
      height: 36px;

      &.active {
        background-color: nth($primary-color, 1);
        color: $white;
      }
    }
  }
}
