@import "scss-reset";

// default
body {
  font-family: $default-font-stack;
  font-size: $default-font-size;
  font-weight: 600;
  color: $gray-500;
  // background-color: nth($primary-color, 3);
  background-color: $gray-100;
  display: flex;
  justify-content: center;
}

// position
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}
.z-index-3 {
  z-index: 3;
}
.z-index-100 {
  z-index: 100;
}
.z-index-101 {
  z-index: 101;
}
.z-index-102 {
  z-index: 102;
}
.z-index-103 {
  z-index: 103;
}

// margin, padding

// flex
.flex {
  display: flex;
}
.flex-inline {
  display: inline-flex;
}

.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.align-baseline {
  align-items: baseline;
}

.gap-6 {
  gap: 6px;
}
.gap-8 {
  gap: 8px;
}
.gap-12 {
  gap: 12px;
}
.gap-16 {
  gap: 16px;
}
.gap-20 {
  gap: 20px;
}
.gap-24 {
  gap: 24px;
}
